<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQ7cbRUsx4A4a3drrnvwhG995aCSsylN0</string>
	<key>GCM_SENDER_ID</key>
	<string>170910642039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rodizioStats</string>
	<key>PROJECT_ID</key>
	<string>rodizioscore</string>
	<key>STORAGE_BUCKET</key>
	<string>rodizioscore.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170910642039:ios:cf478111767ab83ff4bb72</string>
	<key>DATABASE_URL</key>
	<string>https://rodizioscore-default-rtdb.firebaseio.com</string>
</dict>
</plist>